---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </nav>
    <section>
        <h1>This is an about me page</h1>
        <h2>Who Am I</h2>
        <p>My name is Nour El Din Tawfik, I'm a 22 year old aspiring software developer with a passion of building creative and inspiring websites</p>
        <p>I'm currently learning Astro to build static websites!</p>
    </section>
</body>
</html>