---
import "../style/global.css"
import BaseLayout from "../layout/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const posts = await Astro.glob("./posts/*.md");
---

<BaseLayout pageTitle="My Blog">
    <section>
        <h2>These are my blogposts</h1>
        <p>This is where I will document my journey learning Astro</p>
        <ul>
            {posts.map((post) => 
                <BlogPost url={ post.url } title = {post.frontmatter.title}/>
            )}
        </ul>
    </section>
</BaseLayout>