---
import "../style/global.css"
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout pageTitle="My Blog">
    <section>
        <h2>These are my blogposts</h1>
        <p>This is where I will document my journey learning Astro</p>
        <ul>
            <li><a href="/posts/post-1">Post 1</a></li>
            <li><a href="/posts/post-2">Post 2</a></li>
            <li><a href="/posts/post-3">Post 3</a></li>
        </ul>
    </section>
</BaseLayout>