---
const platform = "github";
const username = "theRhasoldy";
---

<footer>
    <p>Learn more about my projects on <a target="_blank" href=`https://www.${platform}.com/${username}`>my github</a></p>
</footer>